@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバーを非表示にするカスタムクラス */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Webkit ブラウザ (Chrome, Safari) 用 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
